.style-module-scss-module__Wo8z1W__overlay div[class*=cds--loading-overlay]{background-color:#2570fe}.style-module-scss-module__Wo8z1W__overlay div[class*=cds--loading-overlay] svg circle{stroke:#fff}
