.style-module-scss-module__b21WQq__modal{background-color:#000}.style-module-scss-module__b21WQq__modal div[class*=cds--modal-footer]{width:100%}.style-module-scss-module__b21WQq__modal div[class*=cds--modal-footer] button{min-width:100%}
